external-services-mocks-deprecato/sdi-mock/src/main/resources/setup/ImpostaNotifica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ImpostaNotificaService" targetNamespace="http://setup.sdi.mock.fatturapa.regione.marche.extrasys.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://setup.sdi.mock.fatturapa.regione.marche.extrasys.it/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0/types" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0/types"
			version="1.0">

			<xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
			<xs:element name="fileSdI" type="tns:fileSdI_Type" />

			<xs:element name="fileSdIConMetadati" type="tns:fileSdIConMetadati_Type" />

			<xs:element name="notificaDecorrenzaTermini" type="tns:fileSdI_Type" />

			<xs:element name="notificaEsito" type="tns:fileSdI_Type" />

			<xs:element name="rispostaRiceviFatture" type="tns:rispostaRiceviFatture_Type" />

			<xs:element name="rispostaSdINotificaEsito" type="tns:rispostaSdINotificaEsito_Type" />

			<xs:complexType name="rispostaSdINotificaEsito_Type">
				<xs:sequence>
					<xs:element name="Esito" type="xs:string" />
					<xs:element minOccurs="0" name="ScartoEsito" type="tns:fileSdIBase_Type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="fileSdIBase_Type">
				<xs:sequence>
					<xs:element name="NomeFile" type="xs:string" />
					<xs:element name="File" type="xs:base64Binary" xmime:expectedContentTypes="*/*" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="fileSdI_Type">
				<xs:sequence>
					<xs:element name="IdentificativoSdI" type="xs:integer" />
					<xs:element name="NomeFile" type="xs:string" />
					<xs:element name="File" type="xs:base64Binary" xmime:expectedContentTypes="*/*" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="rispostaRiceviFatture_Type">
				<xs:sequence>
					<xs:element name="Esito" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="fileSdIConMetadati_Type">
				<xs:sequence>
					<xs:element name="IdentificativoSdI" type="xs:integer" />
					<xs:element name="NomeFile" type="xs:string" />
					<xs:element name="File" type="xs:base64Binary" xmime:expectedContentTypes="*/*" />
					<xs:element name="NomeFileMetadati" type="xs:string" />
					<xs:element name="Metadati" type="xs:base64Binary" xmime:expectedContentTypes="*/*" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="esitoNotifica_Type">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ES00" />
					<xs:enumeration value="ES01" />
					<xs:enumeration value="ES02" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="esitoRicezione_Type">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ER01" />
				</xs:restriction>
			</xs:simpleType>

		</xs:schema>
		<xs:schema xmlns:ns1="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0/types" xmlns:tns="http://setup.sdi.mock.fatturapa.regione.marche.extrasys.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
			targetNamespace="http://setup.sdi.mock.fatturapa.regione.marche.extrasys.it/" version="1.0">

			<xs:import namespace="http://www.fatturapa.gov.it/sdi/ws/ricezione/v1.0/types" />

			<xs:element name="getNotificaImpostata" type="tns:getNotificaImpostata" />

			<xs:element name="getNotificaImpostataResponse" type="tns:getNotificaImpostataResponse" />

			<xs:element name="setNotificaImpostata" type="tns:setNotificaImpostata" />

			<xs:element name="setNotificaImpostataResponse" type="tns:setNotificaImpostataResponse" />

			<xs:complexType name="getNotificaImpostata">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getNotificaImpostataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="ns1:rispostaSdINotificaEsito_Type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="setNotificaImpostata">
				<xs:sequence>
					<xs:element minOccurs="0" name="notifica" type="ns1:rispostaSdINotificaEsito_Type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="setNotificaImpostataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="ns1:rispostaSdINotificaEsito_Type" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getNotificaImpostata">
		<wsdl:part name="parameters" element="tns:getNotificaImpostata">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNotificaImpostataResponse">
		<wsdl:part name="parameters" element="tns:getNotificaImpostataResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setNotificaImpostataResponse">
		<wsdl:part name="parameters" element="tns:setNotificaImpostataResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setNotificaImpostata">
		<wsdl:part name="parameters" element="tns:setNotificaImpostata">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ImpostaNotifica">
		<wsdl:operation name="getNotificaImpostata">
			<wsdl:input name="getNotificaImpostata" message="tns:getNotificaImpostata">
			</wsdl:input>
			<wsdl:output name="getNotificaImpostataResponse" message="tns:getNotificaImpostataResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setNotificaImpostata">
			<wsdl:input name="setNotificaImpostata" message="tns:setNotificaImpostata">
			</wsdl:input>
			<wsdl:output name="setNotificaImpostataResponse" message="tns:setNotificaImpostataResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ImpostaNotificaServiceSoapBinding" type="tns:ImpostaNotifica">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getNotificaImpostata">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getNotificaImpostata">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getNotificaImpostataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setNotificaImpostata">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="setNotificaImpostata">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setNotificaImpostataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ImpostaNotificaService">
		<wsdl:port name="ImpostaNotificaPort" binding="tns:ImpostaNotificaServiceSoapBinding">
			<soap:address location="http://localhost:9090/ImpostaNotificaPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
