contracts-deprecato/fatturazione-passiva/navision-contract/src/main/resources/it/extrasys/marche/regione/fatturapa/contracts/navision/wsdl/Navision.wsdl

<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/fatturaelettronica"
             targetNamespace="urn:microsoft-dynamics-schemas/codeunit/fatturaelettronica"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/fatturaelettronica" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="Capitalize">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="pROT" type="string" />
						<element minOccurs="1" maxOccurs="1" name="sDI" type="string" />
						<element minOccurs="1" maxOccurs="1" name="fA" type="string" />
						<element minOccurs="1" maxOccurs="1" name="idDoc" type="string" />
						<element minOccurs="1" maxOccurs="1" name="annoProt" type="int" />
						<element minOccurs="1" maxOccurs="1" name="dataProt" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="Capitalize_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
						<element minOccurs="1" maxOccurs="1" name="fA" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="Capitalize">
		<part name="parameters" element="tns:Capitalize" />
	</message>
	<message name="Capitalize_Result">
		<part name="parameters" element="tns:Capitalize_Result" />
	</message>
	<portType name="fatturaelettronica_Port">
		<operation name="Capitalize">
			<input name="Capitalize" message="tns:Capitalize" />
			<output name="Capitalize_Result" message="tns:Capitalize_Result" />
		</operation>
	</portType>
	<binding name="fatturaelettronica_Binding" type="tns:fatturaelettronica_Port">
		<binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		<operation name="Capitalize">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/fatturaelettronica:Capitalize" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Capitalize">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Capitalize_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
	</binding>
	<service name="fatturaelettronica">
		<port name="fatturaelettronica_Port" binding="tns:fatturaelettronica_Binding">
			<address location="http://localhost:7057/inrca/ws/TEST%20-%20I.N.R.C.A/Codeunit/fatturaelettronica" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		</port>
	</service>
</definitions>