contracts/fatturazione-passiva/registrazione-fattura-contract-ca/src/main/resources/it/extrasys/marche/regione/fatturapa/contracts/registrazione/fattura/ca/wsdl/IntermediaMarcheEnteRegistrazioneServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IntermediaMarcheEnteService"
                  targetNamespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:tns="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services"
                  xmlns:fatt="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services/fattura"
                  xmlns:notif="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services/notifica"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services">
            <xsd:import namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services/fattura" schemaLocation="../xsd/Fattura.xsd"/>
            <xsd:import namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services/notifica" schemaLocation="../xsd/Notifica.xsd"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="RiceviFatturaRequest">
        <wsdl:part name="RiceviFatturaRequest" element="fatt:Request"/>
    </wsdl:message>

    <wsdl:message name="RiceviFatturaResponse">
        <wsdl:part name="RiceviFatturaResponse" element="fatt:Response"/>
    </wsdl:message>

    <wsdl:message name="RiceviFatturaResponseFault">
        <wsdl:part name="Fault" element="fatt:FaultDetail" />
    </wsdl:message>

    <wsdl:message name="RiceviNotificaRequest">
        <wsdl:part name="RiceviNotificaRequest" element="notif:Request"/>
    </wsdl:message>

    <wsdl:message name="RiceviNotificaResponse">
        <wsdl:part name="RiceviNotificaResponse" element="notif:Response"/>
    </wsdl:message>

    <wsdl:message name="RiceviNotificaResponseFault">
        <wsdl:part name="Fault" element="notif:FaultDetail" />
    </wsdl:message>

    <wsdl:portType name="IntermediaMarcheEnteServicePort">
        <wsdl:operation name="RiceviFattura">
            <wsdl:input message="tns:RiceviFatturaRequest" name="RiceviFatturaRequest"/>
            <wsdl:output message="tns:RiceviFatturaResponse" name="RiceviFatturaResponse"/>
            <wsdl:fault message="tns:RiceviFatturaResponseFault" name="RiceviFatturaResponseFault"/>
        </wsdl:operation>

        <wsdl:operation name="RiceviNotifica">
            <wsdl:input message="tns:RiceviNotificaRequest" name="RiceviNotificaRequest"/>
            <wsdl:output message="tns:RiceviNotificaResponse" name="RiceviNotificaResponse"/>
            <wsdl:fault message="tns:RiceviNotificaResponseFault" name="RiceviNotificaResponseFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IntermediaMarcheEnteServiceSoapBinding" type="tns:IntermediaMarcheEnteServicePort">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="RiceviFattura">

            <wsdlsoap:operation soapAction="RiceviFattura"/>

            <wsdl:input name="RiceviFatturaRequest">
                <wsdlsoap:body namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services" use="literal"/>
            </wsdl:input>

            <wsdl:output name="RiceviFatturaResponse">
                <wsdlsoap:body namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services" use="literal"/>
            </wsdl:output>

            <wsdl:fault name="RiceviFatturaResponseFault">
                <wsdlsoap:fault name="RiceviFatturaResponseFault"
                                namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RiceviNotifica">

            <wsdlsoap:operation soapAction="RiceviNotifica"/>

            <wsdl:input name="RiceviNotificaRequest">
                <wsdlsoap:body namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services"
                               use="literal"/>
            </wsdl:input>

            <wsdl:output name="RiceviNotificaResponse">
                <wsdlsoap:body namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services" use="literal"/>
            </wsdl:output>

            <wsdl:fault name="RiceviNotificaResponseFault">
                <wsdlsoap:fault name="RiceviNotificaResponseFault"
                                namespace="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="IntermediaMarcheEnteService">
        <wsdl:port name="IntermediaMarcheEnteServicePort" binding="tns:IntermediaMarcheEnteServiceSoapBinding">
            <wsdlsoap:address location="http://www.regione.marche.it/intermediamarche/fatturazione/registrazione/services"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>