contracts-deprecato/fatturazione-passiva/iride-contract/src/main/resources/it/extrasys/marche/regione/fatturapa/contracts/iride/xsd/iride.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
          targetNamespace="http://tempuri.org/">
    <s:element name="LeggiProtocollo">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollo" type="s:short" />
                <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiProtocolloResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiProtocolloResult" type="tns:DocumentoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="DocumentoOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataProtocollo" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OggettoBilingue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Classifica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Classifica_Descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento_Descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittenteInterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittenteInterno_Descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittentiDestinatari" type="tns:ArrayOfMittenteDestinatarioOut" />
            <s:element minOccurs="1" maxOccurs="1" name="DataDocumento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InCaricoA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InCaricoA_Descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoNumeroData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoPratica" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroPratica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoNumeroPratica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LivelloDiSicurezza" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataEvidenza" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DocAllegati" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DocumentoRiservato" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IterAttivo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataDiCarico" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="UtenteDiInserimento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataInserimento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="tns:ArrayOfAllegatoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Impegni" type="tns:ArrayOfImpegnoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Accertamenti" type="tns:ArrayOfAccertamentoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="CentriDiCosto" type="tns:ArrayOfCentriDiCostoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Registri" type="tns:ArrayOfRegistroAssegnatoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Interop" type="tns:InteropOut" />
            <s:element minOccurs="0" maxOccurs="1" name="RispostaAlProtocollo" type="tns:RispostaAlProtocolloOut" />
            <s:element minOccurs="0" maxOccurs="1" name="ProtocolliGenerati" type="tns:ArrayOfProtocolloGeneratoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Corrispondenti" type="tns:ArrayOfCorrispondenteOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPratica" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataInizioPubblicazione" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DataFinePubblicazione" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DatiUtente" type="tns:ArrayOfTabellaUtente" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfMittenteDestinatarioOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="MittenteDestinatario" type="tns:MittenteDestinatarioOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="MittenteDestinatarioOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSoggetto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CognomeNome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PartitaIVA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChiaveAlternativa" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfAllegatoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Allegato" type="tns:AllegatoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="AllegatoOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Serial" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Commento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDBase" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Versione" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoAllegato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Schema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SottoEstensione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Firmato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomeAllegato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Principale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pubblicato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommentoBilingue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UriImportato" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:double" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfImpegnoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Impegno" type="tns:ImpegnoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ImpegnoOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnnoImpegno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroImpegno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CapitoloImpegno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArticoloImpegno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodSiopeImpegno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportoImpegno" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="SoggettoImpegno" type="s:double" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfAccertamentoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Accertamento" type="tns:AccertamentoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="AccertamentoOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnnoAccertamento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroAccertamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CapitoloAccertamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArticoloAccertamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodSiopeAccertamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportoAccertamento" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="SoggettoAccertamento" type="s:double" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfCentriDiCostoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="CdC" type="tns:CentriDiCostoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="CentriDiCostoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Voce" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CdC_provento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Propon_ammor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Importo" type="s:double" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfRegistroAssegnatoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Registro" type="tns:RegistroAssegnatoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="RegistroAssegnatoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoRegistro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoRegistro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroRegistro" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DataRegistro" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="InteropOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Denominazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AOO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndirizzoTelematico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Localizzazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Riservato" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="RispostaAlProtocolloOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistrazioneRP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataRegistrazioneRP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoRP" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfProtocolloGeneratoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ProtocolloGenerato" type="tns:ProtocolloGeneratoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ProtocolloGeneratoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistrazionePG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataRegistrazionePG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoPG" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfCorrispondenteOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Corrispondente" type="tns:CorrispondenteOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="CorrispondenteOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSoggetto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Denominazione" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FlagAmministrazione" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AOO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitaOrganizzativa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistrazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataRegistrazione" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfTabellaUtente">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="TabellaUtente" type="tns:TabellaUtente" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="TabellaUtente">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NomeTabella" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Righe" type="tns:ArrayOfRecordUtente" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfRecordUtente">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Riga" type="tns:RecordUtente" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="RecordUtente">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Progressivo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Campi" type="tns:ArrayOfCampoUtente" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfCampoUtente">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Campo" type="tns:CampoUtente" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="CampoUtente">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NomeCampo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCampo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValoreCampo" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="LeggiDocumento">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiDocumentoResult" type="tns:DocumentoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciProtocolloEAnagrafiche">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="ProtoIn" nillable="true" type="tns:ProtocolloIn" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ProtocolloIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataProt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumProt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Classifica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OggettoBilingue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittenteInterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittentiDestinatari" type="tns:ArrayOfMittenteDestinatarioIn" />
            <s:element minOccurs="0" maxOccurs="1" name="AggiornaAnagrafiche" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InCaricoA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoPratica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroPratica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroAllegati" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataEvid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OggettoStandard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="tns:ArrayOfAllegatoIn" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfMittenteDestinatarioIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="MittenteDestinatario" type="tns:MittenteDestinatarioIn" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="MittenteDestinatarioIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CognomeNome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Localita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceComuneResidenza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataNascita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceComuneNascita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nazionalita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataInvio_DataProt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Spese_NProt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mezzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataRicevimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoSogg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoPersona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recapiti" type="tns:ArrayOfRecapitoIn" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfRecapitoIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Recapito" type="tns:RecapitoIn" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="RecapitoIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoRecapito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValoreRecapito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Swap" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfAllegatoIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Allegato" type="tns:AllegatoIn" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="AllegatoIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Commento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdAllegatoPrincipale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Schema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomeAllegato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoAllegato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="URI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="InserisciProtocolloEAnagraficheResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciProtocolloEAnagraficheResult" type="tns:ProtocolloOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ProtocolloOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataProtocollo" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Registri" type="tns:ArrayOfRegistroOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="tns:ArrayOfAllegatoInseritoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfRegistroOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Registro" type="tns:RegistroOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="RegistroOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoRegistro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoRegistro" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroRegistro" type="s:short" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfAllegatoInseritoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Allegato" type="tns:AllegatoInseritoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="AllegatoInseritoOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Serial" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="IDBase" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Versione" type="s:short" />
        </s:sequence>
    </s:complexType>
    <s:element name="InserisciDocumentoEAnagrafiche">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="ProtoIn" nillable="true" type="tns:ProtocolloIn" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDocumentoEAnagraficheResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciDocumentoEAnagraficheResult" type="tns:ProtocolloOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegati">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="NuoviAllegati" nillable="true" type="tns:NuoviAllegati" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="NuoviAllegati">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoProt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numProt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ruolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="tns:ArrayOfAllegatoIn" />
        </s:sequence>
    </s:complexType>
    <s:element name="AggiungiAllegatiResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AggiungiAllegatiResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiProtocolloMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollo" type="s:short" />
                <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiProtocolloMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiProtocolloMultiDBResult" type="tns:DocumentoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiDocumentoMultiDBResult" type="tns:DocumentoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciProtocolloEAnagraficheMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="ProtoIn" nillable="true" type="tns:ProtocolloIn" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciProtocolloEAnagraficheMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciProtocolloEAnagraficheMultiDBResult" type="tns:ProtocolloOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDocumentoEAnagraficheMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="ProtoIn" nillable="true" type="tns:ProtocolloIn" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDocumentoEAnagraficheMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciDocumentoEAnagraficheMultiDBResult" type="tns:ProtocolloOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegatiMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="NuoviAllegati" nillable="true" type="tns:NuoviAllegati" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegatiMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AggiungiAllegatiMultiDBResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="Login">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LoginResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="LoginOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Autenticato" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="LoginMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LoginMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LoginMultiDBResult" type="tns:LoginOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaAmministrazione">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmmSoggetto" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOOSoggetto" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaAmministrazioneResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="RicercaAmministrazioneResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaAmministrazioneMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmmSoggetto" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOOSoggetto" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaAmministrazioneMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="RicercaAmministrazioneMultiDBResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegati2">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="NuoviAllegati" nillable="true" type="tns:NuoviAllegati" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegati2Response">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AggiungiAllegati2Result" type="tns:AllegatiInseritiOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="AllegatiInseritiOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="tns:ArrayOfAllegatoInseritoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="InserisciDocumentoDaDM">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="DocumentumIn" nillable="true" type="tns:DocumentumIn" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="DocumentumIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjecID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittenteInterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="InserisciDocumentoDaDMResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="DocumentumOut" nillable="true" type="tns:DocumentumOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="DocumentumOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataProtocollo" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Registri" type="tns:ArrayOfRegistroOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="ModificaDocumentoEAnagrafiche">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="ProtoIn" nillable="true" type="tns:ModificaProtocolloIn" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ModificaProtocolloIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Classifica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OggettoBilingue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittenteInterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittentiDestinatari" type="tns:ArrayOfMittenteDestinatarioIn" />
            <s:element minOccurs="0" maxOccurs="1" name="AggiornaAnagrafiche" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InCaricoA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoPratica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroPratica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroAllegati" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataEvid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="ModificaDocumentoEAnagraficheResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ModificaDocumentoEAnagraficheResult" type="tns:ModificaProtocolloOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ModificaProtocolloOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="CreaCopie">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="CreaCopieIn" nillable="true" type="tns:CreaCopieIn" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="CreaCopieIn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FascicolaConOriginale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UODestinatarie" type="tns:ArrayOfUODestinataria" />
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfUODestinataria">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="UODestinataria" type="tns:UODestinataria" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="UODestinataria">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Carico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoUO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCopie" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="CreaCopieResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CreaCopieResult" type="tns:CreaCopieOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="CreaCopieOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumentoSorgente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CopieCreate" type="tns:ArrayOfCopiaCreata" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfCopiaCreata">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="CopiaCreata" type="tns:CopiaCreata" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="CopiaCreata">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumentoCopia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Carico" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="LeggiBarcode">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiBarcodeResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiBarcodeResult" type="tns:DocumentoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiDocumentoStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiProtocolloString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollo" type="s:short" />
                <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiProtocolloStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiProtocolloStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiBarcodeString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiBarcodeStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiBarcodeStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDocumentoEAnagraficheString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ProtocolloInStr" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDocumentoEAnagraficheStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciDocumentoEAnagraficheStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciProtocolloEAnagraficheString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ProtocolloInStr" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciProtocolloEAnagraficheStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciProtocolloEAnagraficheStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="ModificaDocumentoEAnagraficheString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ProtocolloInStr" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="ModificaDocumentoEAnagraficheStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="ModificaDocumentoEAnagraficheStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaPerCodiceFiscaleString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="SoloProtocollo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaPerCodiceFiscaleStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="RicercaPerCodiceFiscaleStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegatiString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="NuoviAllegatiStr" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AggiungiAllegatiStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AggiungiAllegatiStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="CreaCopieString">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CreaCopieInStr" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="CreaCopieStringResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CreaCopieStringResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="PubblicazioneDocumento">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Pubblicazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="PubblicazioneDocumentoResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="PubblicazioneDocumentoResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiAnagrafica">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="IdSoggetto" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiAnagraficaResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiAnagraficaResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiCopie">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiCopieIn" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiCopieResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiCopieResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="EliminaAllegato">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="EliminaAllegatoIn" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="EliminaAllegatoResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="EliminaAllegatoResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AnnullaDocumento">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AnnullaDocumentoIn" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="AnnullaDocumentoResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AnnullaDocumentoResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="CollegaDocumento">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CollegaDocumentoIn" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="CollegaDocumentoResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CollegaDocumentoResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoPlus">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="FiltroDocumento" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="LeggiDocumentoPlusResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="LeggiDocumentoPlusResult" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDatiUtente">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Appartenenza" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="Identificativo" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="DatiUtente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="InserisciDatiUtenteResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="InserisciDatiUtenteResult" type="tns:EsitoOperazione" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="EsitoOperazione">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="RicercaPerCodiceFiscale">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="SoloProtocollo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaPerCodiceFiscaleResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="RicercaPerCodiceFiscaleResult" type="tns:ProtocolliSoggettoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ProtocolliSoggettoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Protocolli" type="tns:ArrayOfProtocolloSoggettoOut" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfProtocolloSoggettoOut">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Protocollo" type="tns:ProtocolloSoggettoOut" />
        </s:sequence>
    </s:complexType>
    <s:complexType name="ProtocolloSoggettoOut">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroProtocollo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DataProtocollo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProtocollazione" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Origine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MittenteDestinatario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdSoggetto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
    </s:complexType>
    <s:element name="RicercaPerCodiceFiscaleMultiDB">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="SoloProtocollo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="RicercaPerCodiceFiscaleMultiDBResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="RicercaPerCodiceFiscaleMultiDBResult" type="tns:ProtocolliSoggettoOut" />
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="DocumentoOut" nillable="true" type="tns:DocumentoOut" />
    <s:element name="LoginOut" nillable="true" type="tns:LoginOut" />
    <s:element name="string" nillable="true" type="s:string" />
    <s:element name="EsitoOperazione" nillable="true" type="tns:EsitoOperazione" />
    <s:element name="ProtocolliSoggettoOut" nillable="true" type="tns:ProtocolliSoggettoOut" />
</s:schema>